{% extends "base.html.twig" %}

{% block title %}
    Books
{% endblock %}

{% block body %}


        <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
                <th scope="col">Pages</th>
                <th scope="col">publishingHouse</th>
                
                </tr>
            </thead>
            <tbody> 
            {% for book in books %}
                    <tr>
                    <th scope="row">{{ book.id }}</th>
                    <td><a class="link-secondary" href="/book/{{ book.id }}">{{ book.title }}</a></td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.pages }}</td>
                    <td>{{ book.publishingHouse }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
         <a class="btn btn-dark" href="/book/new"> + Book</a>

{% endblock %}